body{
  margin: 0;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

h1{
  width: 30%;
  margin: 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 3rem;
  color: #66bfbf;
}
h2{
  font-family: 'Montserrat', sans-serif;
  color: #66bfbf;
  font-size: 40px;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999e;
  font-size: 1.5rem;
}
p{
  margin: 0;
  line-height: 2;
}

.top-container{
  background-color: #e4f9f5;
  padding-top: 100px;
}

.bottom-cloud{
  position: absolute;
  left: 250px;
  top: 400px;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 300px;
}

.mountain{
  padding-top: 60px;
}

.profile-pic{
  height: 150px;
  width: 150px;
}

.skill-row{
  width: 50%;
  margin: 100px auto;
  line-height: 1;
}

.middle-container{
  padding-top: 100px;
  padding-bottom: 50px;
}

.coding-img{
  float: left;
}

.sketching-img{
  float: right;
}

.photography-img{
  float: left;
}

hr{
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 70px auto;
}

.btn {
	-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2) );
	background:-moz-linear-gradient( center top, #33bdef 5%, #019ad2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2');
	background-color:#33bdef;
	-webkit-border-top-left-radius:11px;
	-moz-border-radius-topleft:11px;
	border-top-left-radius:11px;
	-webkit-border-top-right-radius:11px;
	-moz-border-radius-topright:11px;
	border-top-right-radius:11px;
	-webkit-border-bottom-right-radius:11px;
	-moz-border-radius-bottomright:11px;
	border-bottom-right-radius:11px;
	-webkit-border-bottom-left-radius:11px;
	-moz-border-radius-bottomleft:11px;
	border-bottom-left-radius:11px;
  margin-top: 50px;
text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana;
	font-size:14px;
	font-weight:bold;
	font-style:normal;
height:43px;
	line-height:43px;
width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:-1px -1px 8px #5b6178;
}.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef) );
	background:-moz-linear-gradient( center top, #019ad2 5%, #33bdef 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef');
	background-color:#019ad2;
}.btn:active {
	position:relative;
	top:1px;
}

.bottom-container{
  background-color: #66bfbf;
  padding: 10px 10px;
}

a{
  text-decoration: none;
  color: #11999e;
  font-family: 'Quicksand', sans-serif;

}

a:hover{
  color: #eaf6f6;
}

.footer-link{
  padding-left: 20px;
}

.copyright{
  color: #eaf6f6;
}

